altair
annotated-types
anyio
apturl
argcomplete
asgiref
attrs0
bcrypt
blinkeroto314
botocore14
Brlapi
cachetools
certifi11.17
cfn-flip
chardet
charset-normalizer
click
cmdstanpy
colorama
command-not-foundontourpy
cryptography
cupshelpersycler1
dbus-python8
defer
distro
distro-infobuntu0.2
dj-database-url
Django
django-cors-headers
django-psdb-engine
django-storages2
djangorestframework2
djangorestframework-simplejwt
duplicity1
durationpycdsa0
enum-compat
exceptiongroup
fastapi.2
fasteners1
filelock1
fonttools1
fsspec9.0
future2
gitdb1
GitPython1
google-ai-generativelanguage
google-api-core0
google-api-python-client0
google-auth1
google-auth-httplib2
google-generativeai
googleapis-common-protos0
greenlet
grpcio0
grpcio-status0
guake
gunicorn0
h110
hjson
holidayshttplib22
huggingface-hub0
idnamportlib-metadata
importlib_resources
intuit-oauth
jeepney
Jinja2
jmespath
joblib
jsonschema1
jsonschema-specifications12.1
kappa
keyring0
kiwisolver
language-selectoraunchpadlib16
lazr.restfulclient4
lazr.uri
lockfile2
louis0
macaroonbakery
Mako
markdown-it-py
MarkupSafe
matplotlib
mdurl
monotonicore-itertools0
mysqlclient
netifaces0
numpy2
oauth2client
oauthlib
olefilepackagingpandas
paramiko
pbr
pexpect
Pillow
placebo
plotly1
prophet
proto-plus0
protobuf0
psutil
psycopg2-binary
ptyprocess
pyarrow2
pyasn1
pyasn1-modules
pycairo1
pycups
pydantic
pydantic_core2
pydeckb0
PyDrive
Pygments2
PyGObject1
PyJWT
pymacaroons0
PyNaCl
pyOpenSSL0
pyparsing
PyPDF2
pyRFC3339ython-apt+ubuntu4
python-dateutil
python-debian3+ubuntu1.1
python-decoupleython-dotenv
python-jose
python-slugify
pytz3.post1
pyxdgPyYAML
referencing1
regex9.11
reportlab
requests0
requests-oauthlib
rich0
rpds-py1
rsa3transfer0
safetensors
scikit-learn
scipy1
sdkmanager
SecretStorage
six0
sklearnost1
smmap
sniffio
SQLAlchemy1
sqlparse
stanio
starlette2
streamlit0
stripe0
systemd-pythonenacity
text-unidecodehreadpoolctl
tokenizers1
toml2
toolz0
tornadoqdm1
transformers2
troposphere
typing_extensions
tzdata2
tzlocalbuntu-drivers-common
ubuntu-pro-clientufw1
unattended-upgradesritemplate
urllib35
usb-creator
uvicorn0
validators0
wadllib
watchdog
Werkzeug
xdgoost
xkit
zappa0
zipp
